* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #464646;
  font-family: verdana, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8em;
}

a {
  color: #464646;
}
a:hover {
  color: #94897f;
  text-decoration: none;
}

p:first-child,
ul:first-child,
ol:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.row:first-child {
  margin-top: 0;
}
p:last-child,
ul:last-child,
ol:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
.row:last-child {
  margin-bottom: 0;
}

p,
ul,
ol {
  line-height: 1.6em;
  margin-bottom: 1em;
}

.row {
  margin-bottom: 1em;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  margin-bottom: 1em;
}
.col-md-1:last-child,
.col-md-2:last-child,
.col-md-3:last-child,
.col-md-4:last-child,
.col-md-5:last-child,
.col-md-6:last-child,
.col-md-7:last-child,
.col-md-8:last-child,
.col-md-9:last-child,
.col-md-10:last-child,
.col-md-11:last-child,
.col-md-12:last-child {
  margin-bottom: 0;
}

p,
ul,
ol {
  line-height: 1.6em;
  margin-bottom: 1em;
}

p:first-child,
ul:first-child,
ol:first-child,
h1:first-child,
h2:first-child {
  margin-top: 0;
}

p:last-child,
ul:last-child,
ol:last-child,
h1:last-child,
h2:last-child {
  margin-bottom: 0;
}

h2 {
  color: #4f767d;
  margin: 1.5em 0 1.2em 0;
  font-size: 2.4em;
}

footer {
  background-color: #4f767d;
  color: #FFF;
  padding: 10px 0;
}

.navbar-default {
  background-color: rgba(248, 248, 248, 0.8);
  border: none;
  -moz-box-shadow: 1px 1px 2px 0px #ccc;
  -webkit-box-shadow: 1px 1px 2px 0px #ccc;
  box-shadow: 1px 1px 2px 0px #ccc;
  margin: 15px;
}

.navbar-collapse.collapse {
  display: none !important;
}
@media (min-width: 992px) {
  .navbar-collapse.collapse {
    display: block !important;
  }
}

.navbar-header {
  float: none;
}
@media (min-width: 992px) {
  .navbar-header {
    float: left;
  }
}

.navbar-toggle {
  display: block !important;
  position: relative;
  float: right;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}
@media (min-width: 992px) {
  .navbar-toggle {
    display: none !important;
  }
}

.arrow-overlay {
  text-align: center;
  font-size: 2.5em;
  position: fixed;
  color: #5a5a5a;
  z-index: 3;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: auto;
  bottom: 15px;
  display: none;
}

section {
  padding: 30px 0;
}
section img {
  width: 100%;
  height: auto;
}
section.navigation {
  padding: 0;
  position: absolute;
  width: 100%;
}
@media (min-width: 768px) {
  section.navigation {
    width: auto;
  }
}
@media (min-width: 992px) {
  section.navigation {
    position: fixed;
    padding: 0;
    z-index: 5;
  }
}
section.navigation .navbar-nav > li {
  float: none;
}
@media (min-width: 992px) {
  section.navigation .navbar-nav > li > a {
    padding-left: 0;
  }
}
section.banner {
  background-image: url(../images/banner1.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
}
@media (min-width: 992px) {
  section.banner {
    min-height: 900px;
    background-size: cover;
  }
}
section#illustrations {
  background-color: white;
}
section#design {
  background-color: #dddddd;
}
section#about {
  background-color: white;
}
section#about .contact p {
  text-align: center;
}
section#about .contact p.icon {
  width: 100%;
  margin: 1.5em 0;
}
section#about .contact p.icon a {
  padding: 12px 14px;
  background-color: #4f767d;
  border-radius: 24px;
  color: #fff;
  font-size: 1.5em;
}
section#about .contact p.icon a:hover {
  padding: 14.4px 16.8px;
  border-radius: 30px;
}
section#blog {
  background-color: #dddddd;
}

#isotope-container, #isotope-container-2 {
  padding: 20px 0;
}
@media (min-width: 768px) {
  #isotope-container, #isotope-container-2 {
    margin-right: -15px;
  }
}
@media (min-width: 992px) {
  #isotope-container, #isotope-container-2 {
    margin-right: -20px;
  }
}

.col1, .col2 {
  min-height: 1px;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .col1, .col2 {
    width: 50%;
    padding: 0 15px 15px 0;
  }
}
@media (min-width: 992px) {
  .col1, .col2 {
    width: 33.33333333%;
    padding: 0 20px 20px 0;
  }
}

@media (min-width: 992px) {
  .col2 {
    width: 66.666666666%;
  }
}

.blog-box, .blog-box-wide {
  box-sizing: border-box;
}
.blog-box .blog-contents, .blog-box-wide .blog-contents {
  padding-bottom: 15px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
}
@media (min-width: 768px) {
  .blog-box, .blog-box-wide {
    width: 33.3333333%;
    padding: 0 15px 15px 0;
  }
}
@media (min-width: 992px) {
  .blog-box, .blog-box-wide {
    width: 25%;
    padding: 0 20px 20px 0;
  }
}

@media (min-width: 992px) {
  .blog-box-wide {
    width: 50%;
  }
}

/*#isotope-container {
	overflow: hidden;
	position: relative;
	img {
		padding: 0 10px 10px 0;
		box-sizing: border-box; 
	//	width: 100%;
		$grid-unit: 190px;
		&.thumb {
			@include breakpoint(reader){
				width: $grid-unit;
				height: $grid-unit;
			}	
		}
		&.sm {
			@include breakpoint(reader){
				width: $grid-unit * 2;
			}
		}
		&.md {
			@include breakpoint(reader){
				width: $grid-unit * 3;
			}
		} 
		&.lg {
			@include breakpoint(reader){
				width: $grid-unit * 4;
			}
		}
		&.full {
			@include breakpoint(reader){
				width: $grid-unit * 6;
			}
		}
	}

}*/
