* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #464646;
  font-family: verdana, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8em;
}

a {
  color: #6f6cc4;
}
a:hover {
  color: #bfbdff;
  text-decoration: none;
}

p:first-child,
ul:first-child,
ol:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.row:first-child {
  margin-top: 0;
}
p:last-child,
ul:last-child,
ol:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
.row:last-child {
  margin-bottom: 0;
}

p,
ul,
ol {
  line-height: 1.6em;
  margin-bottom: 1em;
}

.row {
  margin-bottom: 1em;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  margin-bottom: 1em;
}
.col-md-1:last-child,
.col-md-2:last-child,
.col-md-3:last-child,
.col-md-4:last-child,
.col-md-5:last-child,
.col-md-6:last-child,
.col-md-7:last-child,
.col-md-8:last-child,
.col-md-9:last-child,
.col-md-10:last-child,
.col-md-11:last-child,
.col-md-12:last-child {
  margin-bottom: 0;
}

p,
ul,
ol {
  line-height: 1.6em;
  margin-bottom: 1em;
}

p:first-child,
ul:first-child,
ol:first-child,
h1:first-child,
h2:first-child {
  margin-top: 0;
}

p:last-child,
ul:last-child,
ol:last-child,
h1:last-child,
h2:last-child {
  margin-bottom: 0;
}

footer {
  background-color: #5e5f5c;
  color: #FFF;
  padding: 10px 0;
}

section {
  padding: 20px 0;
}
section img {
  width: 100%;
  height: auto;
}

.col1, .col2 {
  min-height: 1px;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 15px;
  float: left;
  clear: both;
}
@media (min-width: 768px) {
  .col1, .col2 {
    width: 50%;
    padding: 0 15px 15px 0;
  }
}
@media (min-width: 992px) {
  .col1, .col2 {
    width: 33.33333333%;
  }
}

@media (min-width: 768px) {
  .col2 {
    width: 50%;
    padding: 0 15px 15px 0;
  }
}
@media (min-width: 992px) {
  .col2 {
    width: 66.666666666%;
  }
}

/*#isotope-container {
	overflow: hidden;
	position: relative;
	img {
		padding: 0 10px 10px 0;
		box-sizing: border-box; 
	//	width: 100%;
		$grid-unit: 190px;
		&.thumb {
			@include breakpoint(reader){
				width: $grid-unit;
				height: $grid-unit;
			}	
		}
		&.sm {
			@include breakpoint(reader){
				width: $grid-unit * 2;
			}
		}
		&.md {
			@include breakpoint(reader){
				width: $grid-unit * 3;
			}
		} 
		&.lg {
			@include breakpoint(reader){
				width: $grid-unit * 4;
			}
		}
		&.full {
			@include breakpoint(reader){
				width: $grid-unit * 6;
			}
		}
	}

}*/
